@page
@model KoiCareSystem.RazorWebApp.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Toi la Admin";
    Layout = "_AdminLayout";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admin đây</p>
</div>
