@page
@model KoiCareSystem.RazorWebApp.Pages.Admin.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestCreateANewProductDto.ProductId" />
            <div class="form-group">
                <label asp-for="RequestCreateANewProductDto.ProductName" class="control-label"></label>
                <input asp-for="RequestCreateANewProductDto.ProductName" class="form-control" />
                <span asp-validation-for="RequestCreateANewProductDto.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestCreateANewProductDto.ProductType" class="control-label"></label>
                <input asp-for="RequestCreateANewProductDto.ProductType" class="form-control" />
                <span asp-validation-for="RequestCreateANewProductDto.ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestCreateANewProductDto.Price" class="control-label"></label>
                <input asp-for="RequestCreateANewProductDto.Price" class="form-control" />
                <span asp-validation-for="RequestCreateANewProductDto.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestCreateANewProductDto.StockQuantity" class="control-label"></label>
                <input asp-for="RequestCreateANewProductDto.StockQuantity" class="form-control" />
                <span asp-validation-for="RequestCreateANewProductDto.StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestCreateANewProductDto.CategoryId" class="control-label"></label>
                <select asp-for="RequestCreateANewProductDto.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="RequestCreateANewProductDto.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
