@page
@model KoiCareSystem.RazorWebApp.Pages.Admin.WaterStatusPages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<!DOCTYPE html>

<html>
   
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     <h1>Water Status</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaterStatus[0].StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WaterStatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StatusId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.StatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
