@page
@model KoiCareSystem.RazorWebApp.Pages.Member.IndexModel
@{
    ViewData["Title"] = "Toi la Member";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Member đây</p>
</div>
@if (Model.UserId != 0)
{
    <p>User ID: @Model.UserId</p>
}
else
{
    <p>No User ID provided.</p>
}
