html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centered {
    text-align: center;
}

.first-item-border {
    border: 3px solid #000; /* Thêm khung với màu đen và độ dày 2px */
}
.bg-stable {
    background-color: #d4edda; /* Màu nền cho trạng thái Stable (xanh nhạt) */
}

.bg-average {
    background-color: #fff3cd; /* Màu nền cho trạng thái Average (vàng nhạt) */
}

.bg-unstable {
    background-color: #f8d7da; /* Màu nền cho trạng thái Unstable (đỏ nhạt) */
}

.accept-range {
    background-color: yellow; /* Màu nền xanh cho các dòng within */
}

.out-of-range {
    background-color: lightcoral; /* Màu nền đỏ cho các dòng below hoặc above */
}

.good-range {
    background-color: lightgreen; /* Màu nền đỏ cho các dòng below hoặc above */
}
