@page
@model KoiCareSystem.RazorWebApp.Pages.Guest.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

 @* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@

  <div class="row">
      <div class="col-md-4">
          <form method="post">
              <div class="form-group">
                  <label asp-for="RequestLoginDto.Email"></label>
                <input asp-for="RequestLoginDto.Email" class="form-control" />
                <span asp-validation-for="RequestLoginDto.Email" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="RequestLoginDto.Password"></label>
                <input asp-for="RequestLoginDto.Password" class="form-control" type="password" />
                  <span asp-validation-for="RequestLoginDto.Password" class="text-danger"></span>
              </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
      </div>
  </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}