@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Koi Care System</h1>
    <p class="lead">Chăm sóc và theo dõi sức khỏe cá Koi tại nhà</p>

@*     <div>
        <a class="btn btn-primary btn-lg" asp-page="/Guest/Login">Đăng nhập</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Guest/Register">Đăng ký</a>
        <a class="btn btn-thirdary btn-lg" asp-page="/Guest/VerifyEmail">Xác thực Email</a> 
    </div> *@
</div>