@page
@model KoiCareSystem.RazorWebApp.Pages.Admin.WaterStatusPages.DetailsModel

@{
    ViewData["Title"] = "Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>WaterStatus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WaterStatus.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WaterStatus.StatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WaterStatus.StatusId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
